body {
  padding: 0;
  margin: 0;
}
li img {
  width: px;
  height: 26px;
}
ul li {
  display: inline-block;
  list-style-type: none;
  width: 101px;
  margin: auto;
}

.headerIcon > img {
  display: block;
  margin: auto;
  margin-top: 6%;
}
header{
  display: block;
  text-align: center;
  overflow: hidden;

}
header a {
  text-align: center;
  text-decoration: none;
  color: black;
}
.headerIcon {
  margin: auto;
  float: left;
  width: 30%;
  height: 100%;
  box-sizing: border-box;
}
.menu {
  float: left;
  width: 70%;
  box-sizing: border-box;
}

.home img{
  width: 100%;
  height: auto;
  display: block;
  margin: auto;

}
.home {
  position: fixed;
  background-color: white;
  border-radius: 50%;

  left: 50px;
  bottom: 50px;
  width: 32px;
  height: 32px;

}
.blockFirst {
  background-image: url('../img/home-slide-1-1920x602.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blockFirst>.blockContent {
  overflow: hidden;
  padding: 100px 28%;
}
.blockFirst h1 {
  max-width: 300px;
  color: white;
}
.blockFirst p {
  color: white;
}
.blockFirst>.blockContent>.blockSrc {
  padding-top: 40px;
}
.blockFirst a {
  box-sizing: border-box;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  color: #554c4d;
  display: block;
  width: 150px;
  height: 40px;
  background-color: yellow;
  border-radius: 20px;
}

.blockSecond>.blockContent>.wave {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100px;
  height: 40px;
}
.blockSecond>.blockContent>.wave>.circle {
  position: absolute;
  width: 100px;
  height: 20px;
  background: radial-gradient(8px, transparent, transparent 2px, #fd95a2 2px, #fd95a2 5px, transparent 5px);
  background-size: 14px 40px;
}
.blockSecond>.blockContent>.wave>.circle2 {
  top: 20px;
  left: 7px;
  background-position: 0px -20px;
}
.blockSecond h1 {
  margin-bottom: 0;
}
.blockSecond>.blockContent>p {
  max-width: 650px;
  /*color: black;*/
  margin: 0 auto;
}
.blockSecond>.blockContent {
  padding: 50px 10%;
  box-sizing: border-box;
  text-align: center;
}
.blockSecond>.blockContent>.infoAboutServices {
  overflow: hidden;
  padding-top: 40px;
}
.blockSecond>.blockContent>.infoAboutServices p {
  max-width: 230px;
  margin: 0 auto;
}
.blockSecond>.blockContent>.infoAboutServices>.services {
  float: left;
  min-width: 110px;
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
}
.blockSecond>.blockContent>.infoAboutServices>.services>.circle {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border: 2px solid #97b8eb;
  border-radius: 50%;
}

.blockThird {
  background-image: url('../img/bg-secondary-img.jpg');
  background-repeat: no-repeat;
  background-size: 100% 85%;
  background-position: center top;
  overflow: hidden;
  padding: 0 14%;
}
.blockThird>.blockThirdImg {
  width: 50%;
  float: left;
}
.blockThird img {
  width: 100%;
  height: auto;
}
.blockThird>.blockContent {
  padding-top: 30px;
  float: left;
  width: 50%;
}
.blockThird h1 {
  color: white;
}
.blockThird p {
  padding: 15px 0;
  max-width: 400px;
  color: white;
}
.blockThird a {
  box-sizing: border-box;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  color: #554c4d;
  display: block;
  width: 150px;
  height: 40px;
  background-color: yellow;
  border-radius: 20px;
}

.blockFourth {
  text-align: center;
}
.blockFourth>.blockContent {
  padding-bottom: 50px;
}
.blockFourth>.blockContent>p {
  margin: 0 auto;
  max-width: 400px;
  margin-bottom: 22px;
}
.blockFourth>.blockContent>.priceInfo>.blockPrice {
  width: 30%;
  float: left;
  margin: 0 10px;
  box-sizing: border-box;
  border: 1px solid #dadada;
  border-radius: 25px;
  overflow: hidden;
}
.blockFourth h2 {
  padding-top: 10px;
  height: 40px;
  color: white;
  margin-bottom: 0;
}
.blockFourth img {
  width: 100%;
  height: auto;
}
.blockFourth>.blockContent>.priceInfo>.blockPrice>.littleLambs {
  background-color: #9fb36d;
}
.blockFourth>.blockContent>.priceInfo>.blockPrice>.bouncyBears {
  background-color: #f99270;
}
.blockFourth>.blockContent>.priceInfo>.blockPrice>.shiningStars {
  background-color: #58beed;
}
.arows {
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  margin: -1px auto 20px auto;
}
.arow1 {
  border-top: 10px solid #9fb36d;
}
.arow2 {
  border-top: 10px solid #f99270;
}
.arow3 {
  border-top: 10px solid #58beed;
}
.blockFourth>.blockContent>.priceInfo {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}
.blockFourth>.blockContent>.priceInfo>.blockPrice>.classInfo {
  overflow: hidden;
  margin: 0 auto 15px auto;
}
.blockFourth>.blockContent>.priceInfo>.blockPrice>.classInfo>div {
  float: left;
  width: 32%;
}
.blockFourth>.blockContent>.priceInfo>.blockPrice>.classInfo>.classSize {
  border-right: 1px solid #dadada;
}
.blockFourth>.blockContent>.priceInfo>.blockPrice>.classInfo>.price {
  border-left: 1px solid #dadada;
}
.blockFourth>.blockContent>.priceInfo>.blockPrice p {
  font-size: 14px;
}
.blockFourth a {
  margin: 40px auto;
  box-sizing: border-box;
  padding-top: 8px;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  display: block;
  color: #564c4c;
  width: 150px;
  height: 40px;
  border: 2px solid #dadada;
  border-radius: 20px;
}

.blockFifth {
  text-align: center;
  background-image: url('../img/bg-primary-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.blockFifth>.blockContent {
  padding: 5px 0 30px 0;
}
.blockFifth>.blockContent>.galleryImg {
  overflow: hidden;
  margin: 20px 0;
  height: 210px;
}
.blockFifth>.blockContent>.galleryImg>.img {
  float: left;
  width: 25%;
  overflow: hidden;
  height: auto;
}
.blockFifth>.blockContent>.galleryImg>.img>img {
  width: 100%;
  height: auto;
}
.blockFifth a {
  box-sizing: border-box;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  color: #554c4d;
  display: block;
  width: 180px;
  height: 40px;
  background-color: yellow;
  border-radius: 20px;
  margin: 0 auto;
}

.blockSixth {
  text-align: center;
  padding-bottom: 30px;
}
.blockSixth>.blockContent>p {
  max-width: 560px;
  margin: auto;
}
.blockSixth>.blockContent>.teachers {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  text-align: left;
}
.blockSixth>.blockContent>.teachers>.teacher {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: left;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 30px;
  margin: 0 10px;
  height: 400px;
  width: 22%;
  color: white;
}
.blockSixth>.blockContent>.teachers>.tch1 {
  background-image: url('../img/home-person-1-271x380.png');
}
.blockSixth>.blockContent>.teachers>.tch2 {
  background-image: url('../img/home-person-2-271x380.png');
}
.blockSixth>.blockContent>.teachers>.tch3 {
  background-image: url('../img/home-person-3-271x380.png');
}
.blockSixth>.blockContent>.teachers>.tch4 {
  background-image: url('../img/home-person-4-271x380.png');
}
.blockSixth>.blockContent>.teachers h2 {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 7px;
}
.blockSixth>.blockContent>.teachers p {
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 16px;
}
.blockSixth>.blockContent>.teachers>.teacher>div {
  border-radius: 29px 0 0 29px;
  height: 58px;
  padding-left: 26px;
  margin-top: 270px;
  margin-left: 30px;
}
.blockSixth>.blockContent>.teachers>.teacher>.teacherName1 {
  background-color: rgba(233, 223, 136, 0.7);
  border: 1px solid rgba(233, 223, 136, 0.7);
}
.blockSixth>.blockContent>.teachers>.teacher>.teacherName2 {
  background-color: rgba(171, 206, 146, 0.7);
  border: 1px solid rgba(171, 206, 146, 0.7);
}
.blockSixth>.blockContent>.teachers>.teacher>.teacherName3 {
  background-color: rgba(153, 208, 243, 0.7);
  border: 1px solid rgba(153, 208, 243, 0.7);
}
.blockSixth>.blockContent>.teachers>.teacher>.teacherName4 {
  background-color: rgba(254, 172, 135, 0.7);
  border: 1px solid rgba(254, 172, 135, 0.7);
}

.blockSeventh {
  text-align: center;
  color: white;
  background-image: url('../img/bg-secondary-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}
.blockSeventh>.blockContent>.facts {
  overflow: hidden;
  max-width: 1020px;
  margin: 0 auto;
}
.blockSeventh>.blockContent>.facts>.fact {
  box-sizing: border-box;
  padding: 0 8px;
  float: left;
  width: 25%;
  min-width: 160px;
}
.blockSeventh>.blockContent>.facts>.fact>h2 {
  font-size: 42px;
  margin-bottom: 0;
}
.blockSeventh>.blockContent>.facts>.fact>h3 {
  margin: 10px 0;
}

.blockEighth {
  background-image: url('../img/home-bg-5-1920x520.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blockEighth>.blockContent {
  padding: 25px 0;
  text-align: center;
  color: white;
}
.blockEighth>.blockContent>p {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 510px;
}

.blockNinth {
  background-image: url('../img/home-bg-6-1920x676.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blockNinth>.blockContent>h1 {
  text-align: center;
}
.blockNinth>.blockContent {
  margin: 0 20%;
}
.form {
  width: 45%;
  max-width: 450px;
}
.form textarea {
  outline: none;
  /*background: transparent;*/
  width: 80%;
  height: 100px;
  padding: 10px 10px;
  border-radius: 20px;
}
.textMail {
  border: 1px solid rgb(169, 169, 169);
  /*border-style: none;*/
  outline: none;
  /*background: transparent;*/
  width: 80%;
  padding: 10px 10px;
  border-radius: 20px;
}
.sendMassage {
  border: 1px solid yellow;
  outline: none;
  box-sizing: border-box;
  text-align: center;
  font-weight: 900;
  color: #554c4d;
  display: block;
  width: 180px;
  height: 40px;
  background-color: yellow;
  border-radius: 20px;
  border-color: yellow;
}

.copyRight {
  width: 100%;
  background: #214f86;
  color: white;
}
.copyRight>.blockContent {
  margin: 0 20%;
  overflow: hidden;
}
.rights {
  width: 50%;
  display: block;
  float: left;
  text-align: left;
}
.privacyPolicy {
  width: 50%;
  display: block;
  float: left;
  text-align: right;
}



.phone img{
  width: 100%;
  height: auto;
  display: block;
  margin: auto;

}
.phone {
  position: fixed;
  background-color: white;
  border-radius: 50%;

  right: 50px;
  bottom: 50px;
  animation-name: phone;
  animation-duration: 1.5s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 32px;
  height: 32px;

}
.phone:hover{
  animation-name: phoneHover;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}


@keyframes phone {
  50% {width: 44px;
      height: 44px;
      right: 44px;
      bottom: 44px;}
  100% {width: 32px;
      height: 32px;
      right: 50px;
      bottom: 50px;}
}
@keyframes phoneHover {
  to{
    transform: rotate(360deg);
  }
}
@media (max-width: 1250px) {
  .blockFifth>.blockContent>.galleryImg {
    height: 200px;
  }
}
@media (max-width: 1190px) {
  .blockFifth>.blockContent>.galleryImg {
    height: 150px;
  }
}
@media (max-width: 950px) {
  .blockFirst>.blockContent>p {
    max-width: 300px;
  }
  .blockSecond h3 {
    height: 44px;
  }
  .blockThird {
    background-size: 100% 100%;
  }
  .blockThird>.blockContent {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .blockFourth>.blockContent>.priceInfo>.blockPrice>.classInfo>div>p {
    width: 80%;
    margin: 0 auto;
    height: 48px;
  }
  .blockFourth>.blockContent>.priceInfo {
    width: 100%;
  }
  .blockFourth>.blockContent>.priceInfo>.blockPrice {
    width: 31%;
  }
  .blockFifth>.blockContent>.galleryImg {
    height: auto;
  }
  .blockFifth>.blockContent>.galleryImg>.img {
    width: 50%;
    height: 280px;
  }
  .blockSixth>.blockContent>.teachers>.teacher {
    height: 300px;
  }
  .blockSixth>.blockContent>.teachers>.teacher>div {
    margin-top: 200px;
    margin-left: 14px;
  }
  .copyRight>.blockContent {
    margin: 0 10%;
  }
  .map>iframe {
    height: 250px;
  }
}
@media (max-width: 870px) {
  .blockFirst {
    background-position: 60% 50%;
  }
  .blockFirst>.blockContent {
    padding: 100px 10%;
  }
  .blockThird {
    text-align: center;
  }
  .blockThird>.blockThirdImg {
    width: 50%;
    float: none;
    margin: 0 auto;
  }
  .blockThird>.blockContent {
    margin: 0 auto;
    float: none;
    width: 70%;
  }
  .blockThird a {
    margin: 0 auto;
  }
  .blockNinth>.blockContent {
    margin: 0 8%;
  }
  .blockFourth>.blockContent>.priceInfo>.blockPrice {
    max-width: 400px;
    min-width: 210px;
    float: none;
    margin: 10px auto;
  }
  .blockFifth>.blockContent>.galleryImg>.img {
    height: 240px;
  }
  .blockSixth>.blockContent>.teachers>.teacher {
    width: 45%;
    max-width: 300px;
    margin-top: 25px;
    height: 300px;
  }
  .blockSixth>.blockContent>.teachers {
    max-width: 500px;
  }
  .blockSixth>.blockContent>.teachers>.tch2 {
    float: none;
  }
}



@media (max-width: 800px) {
  .blockSecond>.blockContent>.infoAboutServices>.services {
    width: 50%;
    min-width: 130px;
    padding-top: 30px;
  }
}
@media (max-width: 740px) {
  .blockFifth>.blockContent>.galleryImg>.img {
    height: 210px;
  }
  .blockSeventh>.blockContent>.facts {
    width: 90%;
    margin: 0 auto;
  }
  .blockSeventh>.blockContent>.facts>.fact {
    width: 50%;
  }
  .copyRight>.blockContent {
    margin: 0 5%;
  }
}
@media (max-width: 630px) {
  .blockFifth>.blockContent>.galleryImg>.img {
    height: 180px;
  }
}
@media (max-width: 580px) {
  .blockFirst {
    box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.78);
  }
  .blockFirst>.blockContent {
    width: 80%;
    overflow: hidden;
    padding: 60px 6%;
  }
  .blockFifth>.blockContent>.galleryImg>.img {
    width: auto;
    float: none;
    height: 350px;
  }
  .blockNinth {
    box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.78);
  }
  .form {
    width: 80%;
  }
}
@media (max-width: 530px) {
  .blockFifth>.blockContent>.galleryImg>.img {
    height: 325px;
  }
}
@media (max-width: 500px) {
  .blockSecond>.blockContent>.infoAboutServices>.services {
    width: 100%;
    min-width: 130px;
    padding-top: 30px;
  }
  .blockThird>.blockContent {
    width: 98%;
  }
  .blockFifth>.blockContent>.galleryImg>.img {
    height: 300px;
  }
}
@media (max-width: 450px) {
  .blockSixth>.blockContent>.teachers>.teacher {
    float: none;
    margin: auto;
    width: 100%;
    max-width: 210px;
  }
  .blockFifth>.blockContent>.galleryImg>.img {
    height: 268px;
  }
}
@media (max-width: 400px) {
  .blockFifth>.blockContent>.galleryImg>.img {
    height: 230px;
  }
  .blockSeventh>.blockContent>.facts>.fact {
    width: 50%;
    max-width: 260px;
    float: none;
    margin: 0 auto;
  }
}
@media (max-width: 350px) {
  .blockFifth>.blockContent>.galleryImg>.img {
    height: 200px;
  }
